body
    h2 Réinitialisation de mot de passe
    p Bonjour #{username} !
    p Vous pouvez réinitialiser votre mot de passe avec le lien suivant
    p Pour définir votre nouveau mot de passe, vous devrez d’abord saisir le mot de passe provisoire ci-dessous :
    p
    b #{adminPassword}
    p 
        a(href=lien) #{lien}