body
    h2 Password reset
    p Hi #{username}!
    p You can reset your password with the following link.
    p To set your new password, you will first need to enter the temporary password below:
    p
    b #{adminPassword}
    p 
        a(href=lien) #{lien}