body
    h2 Reinicialización de la contraseña
    p Hola #{username},
    p Puede crear una nueva contraseña a partir del siguiente enlace.
    p Para crear su nueva contraseña, primero deberá informar la siguiente contraseña temporal asignada por el administrador:
    p
    b #{adminPassword}
    p 
        a(href=lien) #{lien}